/*  responsive mobile */
@media (max-width: 576px) {
    .content_tek {
        .section_first {
            width: 100%;
        } 
    }
}

/*  responsive  tablet */
@media (max-width: 768px) {
    .header_section {
        .header,
        .carousel,
        .header_menu {
            padding: unset;
        }
    }

    .content_tek {
        padding: unset;

        .section_first {
            .section_tt {
                .section_home {
                    .content_section {
                        .content_home {
                            .products {
                                .product_coming {
                                    ul {
                                        width: 23%;
                                    }
                                    
                                }
                            }
                        }
                    }
                    .comment_top {
                        .banner {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                .smartphonett {
                    width: 100%;
                }
            }
            .advertisement {
                padding: 20px;
            }
        }
    }
    .footer {
        padding: unset;
    }
}

/*  responsive laptop */
@media (max-width: 992px) {
    .content_tek {
        padding: 0 100px;
        .section_first {
            .section_tt {
                .section_home {
                    .content_section {
                        .content_home {
                            .products {
                                .product_coming {
                                    
                                }
                            }
                        }
                    }
                }

                .smartphonett {
                    .content {
                        .like {
                            #fa-thumbs-up {
                                width: 48%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*  responsive desktop */
@media (max-width: 1024px) {
    .header_section {
        .carousel {
            .carousel_list {
                .carousel_section {
                    li {
                        width: 30%;
                    }
                }
            }
        }
    }
    #content_tek {
        padding: unset;
    }
    .content_tek {
        
        .section_first {
            .section_tt {
                .section_home {
                    .content_section {
                        .content_home {
                            .products {
                                .img_hover {
                                    img {
                                        width: unset;
                                    }
                                }
                            }
                        }
                    }
                    #comment_top {
                        .banner {
                            img {
                                width: 92% !important;
                            }
                        }
                    }
                }
                .smartphonett {
                    .menu_phone {
                        .smartPhone {
                            .menu {
                                .w-55 {
                                    width: 45%;
                                }
                                .w-45 {
                                    width: 55%;
                                }
                            }
                        }
                    }
                   .section_smartphone {
                       .smart_content {
                           .content {
                               li {
                                   .like {
                                       #fa-thumbs-up {
                                           width: 53%;
                                       }
                                   }
                               }
                           }
                       }
                   }
                }
            }
            .advertisement {
                .advertisement_menu {
                    .img_hover {
                        img {
                            width: 79%;
                        }
                    }
                    .newLetter,.video_review,.popular_tags {
                        width: 79%;
                    }
                    .newLetter {
                        .even {
                            .even_content {
                                .even_img {
                                    height: 100px;
                                }
                            }
                        }
                    }
                    .cal {
                        width: 79%;
                        .days {
                            li {
                                width: 15%;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        padding: unset !important;
        .footer_content {
            .text {
                width: unset;
            }
        }
    }
}

/*  responsive macbook */
@media (max-width: 1280px) {
    .header_section {
        .header,
        .carousel,
        .header_menu {
            padding: 0 100px !important;
        }
    }

    .content_tek {
        padding: 0 100px;
        .section_first {
            .section_tt {
                .section_home {
                    .content_section {
                        #img_section_comment {
                            .img_hover_home {
                                height: 266px;
                            }
                        }
                        .content_home {
                            .products {
                                #img_hover {
                                    height: 266px;
                                }
                                .product_coming {
                                    ul {
                                        width: 23%;
                                    }
                                }
                            }
                        }
                    }
                    #comment_top {
                        #banner {
                            img {
                                width: 92% ;
                            }
                        }
                        .title {
                            h2 {
                                margin: unset;
                            }
                        }
                    }
                }

                .smartphonett {
                    width: 97%;
                }
            }
            .advertisement {
                .advertisement_menu {
                    #img_hover {
                        height: 393px;;
                    }
                    .video_review {
                        .img_video {
                            height: 149px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        padding: 0 100px;
    }
}

/*  responsive monitor */
@media (max-width: 1366px) {
    .header_section {
        .header,
        .carousel,
        .header_menu {
            padding: 0 100px !important;
        }
    }

    .content_tek {
        padding: 0 100px;
        .section_first {
            .section_tt {
                .section_home {
                    .content_section {
                        .img_section_comment {
                            .img_hover_home {
                                height: 283px;
                            }
                        }
                        .content_home {
                            .products {
                                .img_hover {
                                    height: 282px;
                                }
                                .product_coming {
                                    ul {
                                        width: 100%;
                                        li {
                                            width: 23%;
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                    #comment_top {
                        .list_comment {
                            .even {
                                .img {
                                    .img_text {
                                        width: 52%;
                                        p {
                                            margin: unset;
                                        }
                                    }
                                }
                            }
                            .odd {
                                .img {
                                    .img_text {
                                        width: 52%;
                                        p {
                                            margin: unset;
                                        }
                                    }
                                }
                            }
                        }
                        .banner {
                            img {
                                width: 95%;
                            }
                        }
                        .title {
                            h2 {
                                
                            }
                        }
                    }
                }

                .smartphonett {
                    .menu_phone {
                        .smartPhone {
                            .menu {
                                .w-55 {
                                    width: 45%;
                                }
                                .w-45 {
                                    width: 55%;
                                }
                            }
                        }
                    }
                    .section_smartphone {
                        .smart_content {
                            .content {
                                .img_hover {
                                    height: 128px !important;
                                }
                            }
                        }
                    }
                }
            }

            .advertisement {
                .advertisement_menu {
                    .img_hover {
                        height: 412px;
                    }
                }
            }
        }
    }
    .footer {
        padding: 0 100px;
    }
}