/*  responsive mobile */
@media (max-width: 576px) {
  .content_tek .section_first {
    width: 100%;
  }
}

/*  responsive  tablet */
@media (max-width: 768px) {
  .header_section .header,
  .header_section .carousel,
  .header_section .header_menu {
    padding: unset;
  }
  .content_tek {
    padding: unset;
  }
  .content_tek .section_first .section_tt .section_home .content_section .content_home .products .product_coming ul {
    width: 23%;
  }
  .content_tek .section_first .section_tt .section_home .comment_top .banner img {
    width: 100%;
  }
  .content_tek .section_first .section_tt .smartphonett {
    width: 100%;
  }
  .content_tek .section_first .advertisement {
    padding: 20px;
  }
  .footer {
    padding: unset;
  }
}

/*  responsive laptop */
@media (max-width: 992px) {
  .content_tek {
    padding: 0 100px;
  }
  .content_tek .section_first .section_tt .smartphonett .content .like #fa-thumbs-up {
    width: 48%;
  }
}

/*  responsive desktop */
@media (max-width: 1024px) {
  .header_section .carousel .carousel_list .carousel_section li {
    width: 30%;
  }
  #content_tek {
    padding: unset;
  }
  .content_tek .section_first .section_tt .section_home .content_section .content_home .products .img_hover img {
    width: unset;
  }
  .content_tek .section_first .section_tt .section_home #comment_top .banner img {
    width: 92% !important;
  }
  .content_tek .section_first .section_tt .smartphonett .menu_phone .smartPhone .menu .w-55 {
    width: 45%;
  }
  .content_tek .section_first .section_tt .smartphonett .menu_phone .smartPhone .menu .w-45 {
    width: 55%;
  }
  .content_tek .section_first .section_tt .smartphonett .section_smartphone .smart_content .content li .like #fa-thumbs-up {
    width: 53%;
  }
  .content_tek .section_first .advertisement .advertisement_menu .img_hover img {
    width: 79%;
  }
  .content_tek .section_first .advertisement .advertisement_menu .newLetter, .content_tek .section_first .advertisement .advertisement_menu .video_review, .content_tek .section_first .advertisement .advertisement_menu .popular_tags {
    width: 79%;
  }
  .content_tek .section_first .advertisement .advertisement_menu .newLetter .even .even_content .even_img {
    height: 100px;
  }
  .content_tek .section_first .advertisement .advertisement_menu .cal {
    width: 79%;
  }
  .content_tek .section_first .advertisement .advertisement_menu .cal .days li {
    width: 15%;
  }
  .footer {
    padding: unset !important;
  }
  .footer .footer_content .text {
    width: unset;
  }
}

/*  responsive macbook */
@media (max-width: 1280px) {
  .header_section .header,
  .header_section .carousel,
  .header_section .header_menu {
    padding: 0 100px !important;
  }
  .content_tek {
    padding: 0 100px;
  }
  .content_tek .section_first .section_tt .section_home .content_section #img_section_comment .img_hover_home {
    height: 266px;
  }
  .content_tek .section_first .section_tt .section_home .content_section .content_home .products #img_hover {
    height: 266px;
  }
  .content_tek .section_first .section_tt .section_home .content_section .content_home .products .product_coming ul {
    width: 23%;
  }
  .content_tek .section_first .section_tt .section_home #comment_top #banner img {
    width: 92%;
  }
  .content_tek .section_first .section_tt .section_home #comment_top .title h2 {
    margin: unset;
  }
  .content_tek .section_first .section_tt .smartphonett {
    width: 97%;
  }
  .content_tek .section_first .advertisement .advertisement_menu #img_hover {
    height: 393px;
  }
  .content_tek .section_first .advertisement .advertisement_menu .video_review .img_video {
    height: 149px;
  }
  .footer {
    padding: 0 100px;
  }
}

/*  responsive monitor */
@media (max-width: 1366px) {
  .header_section .header,
  .header_section .carousel,
  .header_section .header_menu {
    padding: 0 100px !important;
  }
  .content_tek {
    padding: 0 100px;
  }
  .content_tek .section_first .section_tt .section_home .content_section .img_section_comment .img_hover_home {
    height: 283px;
  }
  .content_tek .section_first .section_tt .section_home .content_section .content_home .products .img_hover {
    height: 282px;
  }
  .content_tek .section_first .section_tt .section_home .content_section .content_home .products .product_coming ul {
    width: 100%;
  }
  .content_tek .section_first .section_tt .section_home .content_section .content_home .products .product_coming ul li {
    width: 23%;
  }
  .content_tek .section_first .section_tt .section_home #comment_top .list_comment .even .img .img_text {
    width: 52%;
  }
  .content_tek .section_first .section_tt .section_home #comment_top .list_comment .even .img .img_text p {
    margin: unset;
  }
  .content_tek .section_first .section_tt .section_home #comment_top .list_comment .odd .img .img_text {
    width: 52%;
  }
  .content_tek .section_first .section_tt .section_home #comment_top .list_comment .odd .img .img_text p {
    margin: unset;
  }
  .content_tek .section_first .section_tt .section_home #comment_top .banner img {
    width: 95%;
  }
  .content_tek .section_first .section_tt .smartphonett .menu_phone .smartPhone .menu .w-55 {
    width: 45%;
  }
  .content_tek .section_first .section_tt .smartphonett .menu_phone .smartPhone .menu .w-45 {
    width: 55%;
  }
  .content_tek .section_first .section_tt .smartphonett .section_smartphone .smart_content .content .img_hover {
    height: 128px !important;
  }
  .content_tek .section_first .advertisement .advertisement_menu .img_hover {
    height: 412px;
  }
  .footer {
    padding: 0 100px;
  }
}
/*# sourceMappingURL=responsive.css.map */